.ul_nav_dark {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.ul_nav_light {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightyellow;
  color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
.a_nav_dark {
  color: white
}
.a_nav_light {
  color: #333
}
li {
  float: left;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: greenyellow;
}

.button_nav_dark{
  background-color: linen;
  display: block;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  width: 10vw;
}

.button_nav_light{
  background-color: darkslategray;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  width: 10vw;
}
nav {
  margin-bottom: 50px;
}
.div_light{
  background-color: darkslategray;
}
.div_dark{
  background-color: linen;
}